{
  "globals": {

  },
  "env": {
    "node": true,
    "browser": true,
    "mocha": true
  },
  "extends": ["airbnb"],
  "rules": {
    "object-curly-spacing": "off",
    "import/no-extraneous-dependencies": 0,
    "no-unused-vars": 0
  }
}