{
  "globals": {
    "document": true,
    "window": true,
    "process": true,
    "__dirname": true
  },
  "extends": ["airbnb"],
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "no-unused-vars": 0
  }
}